# java
*.java          text diff=java
*.xml           text

# binary
*.class         binary
*.dll           binary
*.jar           binary

# pkg
*.dmg           binary
*.exe           binary
*.AppImage      binary
